<ul>
<% @articles.each do |article| %>
  <li>
  <span><%= link_to article.user.name, user_path(article.user) %></span>
  <span><%= article.content %></span>
  <span><%= article.price %></span>
  <span>
    Posted <%= time_ago_in_words(article.created_at) %> ago.
    <% if current_user?(article.user) %>
      <%= link_to "delete", article_path(article), method: :delete %>
    <% end %>
  </span>
</li>
<%end%>
</ul>
